@tailwind base;
@tailwind components;
@tailwind utilities;

/* app.css */

/* Transition for the page fade-in and fade-out */
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}
